div {
    display: block;
}
/*Added in order to change the font type in the elements*/
.fonttype {
    font-family: "Helvetica", sans-serif;
}
/*All page*/
html, body {
    margin: auto;
    height: 100%;
    min-width: 300px;
}
/*Header*/
.header {
    position: relative;
    height: 70px;
    width: auto;
    background-color: black;
}
/*The todolist on the header*/
#todosign {
    float: left;
    margin-left: 40px;
    margin-top: 22px;
    color: grey;   
    font-size: 20px;
}
/*The part where all inputs and buttons*/
.main_part {
    margin: 40px auto 300px;
    width: 800px;
    height: auto;   
}
/*Headline word*/
#headline {
    position: relative;
    margin: 0px;
    
}
/*style of input*/
#the_input {
    width: 75%;
    padding: 10px;
    /*float: left;*/
    font-size: 15px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 7px;
    border-width: thin;
}
/*Add button style*/
.create_button {
    margin-left: 20px;
    font-size: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
    color: white;
    background-color: #1C8EDF;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    /*in order to make change smoothly in 0.4 seconds for all browsers*/
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
/*add button color changing when you put the cursor on it*/
.create_button:hover{
    background-color: #15649B;
}
/*the list*/
ul {
    margin: 0;
    margin-top: 30px;
    margin-left: 1px;
    padding: 0;
    border: 2px solid black;
}
/*Style of the list and its lines in default*/
ul li {
    position: relative;
    background-color: white;
    list-style-type: none;
    cursor: pointer;
    padding: 10px 6px 10px 40px;
    transition: 0.3s;

    border-bottom: 1px solid black;
    /* making list unselectable */

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*when you put the cursor on it*/
ul li:hover {
    background-color: #DCDCDC;
}
/*when you click on the line*/
ul li.checked {
    background: #282828;
    color: white;
    text-decoration: line-through;
}

ul li.checked::before{
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    top: 10px;
    left: 15px;
    transform: rotate(45deg);
    height: 15px;
    width: 10px;
}
/*Design of the remove button*/
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px 10px 15px;
}
/*When you hover the remove button*/
.close:hover {
    background: red;
}



/*for the future plans*/
ul li.empty {
    display: none;   
}